/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Project
   ========================================================================== */
.proj-page .progress-compact-style {
  max-width: 350px;
  margin-bottom: 15px;
}
.proj-page .proj-page-del {
  height: 38px;
  border: none;
  background: none;
  font-size: 1.125rem;
  color: #919fa9;
}
.proj-page .proj-page-del:hover {
  color: #fa424a;
}
.proj-page .proj-page-del .font-icon {
  vertical-align: middle;
}
.proj-page .drop-zone {
  width: 100%;
}
.proj-page .uploading-list {
  max-width: 350px;
}
.proj-page .uploading-list .uploading-list-item-progress,
.proj-page .uploading-list .uploading-list-item-speed {
  font-size: .875rem;
}
.proj-page-section {
  padding: 15px 15px 20px;
  border-top: solid 1px #d8e2e7;
}
.proj-page-section:first-child {
  border-top: none;
}
.proj-page-section .comment-rows-container,
.proj-page-section .leave-comment-block {
  margin: 0 -15px;
}
.proj-page-section .leave-comment-block {
  padding-bottom: 0;
}
.proj-page-subtitle {
  padding: 5px 0 20px;
}
.proj-page-subtitle h1,
.proj-page-subtitle h2,
.proj-page-subtitle h3,
.proj-page-subtitle h4,
.proj-page-subtitle h5,
.proj-page-subtitle h6 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.proj-page-subtitle.with-del {
  position: relative;
  padding-right: 35px;
}
.proj-page-subtitle.with-del .proj-page-del {
  position: absolute;
  top: -5px;
  right: -2px;
}
.proj-page-subtitle.padding-sm {
  padding-bottom: 10px;
}
.proj-page-header .title {
  display: inline-block;
  border: solid 1px transparent /*@color-border-light*/;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  font-weight: 600;
  padding: .375rem 0;
  margin: 0 0 6px;
  font-size: 1.125rem;
  cursor: default;
}
.proj-page-header .title .font-icon {
  opacity: 0;
  color: #919fa9;
  font-size: .8125rem;
  margin: 0 0 0 5px;
}
.proj-page-header .title:hover .font-icon {
  opacity: 1;
}
.proj-page-header .project {
  color: #919fa9;
}
.proj-page-team {
  margin: -4px 0 -9px;
}
.proj-page-team .tbl-cell-admin {
  width: 32px;
}
.proj-page-team .tbl-cell-admin .avatar-preview {
  margin-right: 0;
}
.proj-page-team .tbl-cell-divider {
  width: 30px;
  text-align: center;
  color: #919fa9;
  font-size: .75rem;
}
.proj-page-team .tbl-cell-divider .font-icon {
  position: relative;
  top: 2px;
}
.proj-page-team .tbl-cell-date {
  text-align: right;
  font-size: .9375rem;
  color: #919fa9;
  white-space: nowrap;
  width: 30px;
}
.proj-page-team .avatar-preview {
  margin: 4px 6px 4px 0px;
}
.proj-page-main-controls {
  zoom: 1;
  margin: 0 0 5px;
}
.proj-page-main-controls:before,
.proj-page-main-controls:after {
  content: " ";
  display: table;
}
.proj-page-main-controls:after {
  clear: both;
}
.proj-page-main-controls .proj-page-main-controls-left,
.proj-page-main-controls .proj-page-main-controls-right {
  zoom: 1;
}
.proj-page-main-controls .proj-page-main-controls-left:before,
.proj-page-main-controls .proj-page-main-controls-right:before,
.proj-page-main-controls .proj-page-main-controls-left:after,
.proj-page-main-controls .proj-page-main-controls-right:after {
  content: " ";
  display: table;
}
.proj-page-main-controls .proj-page-main-controls-left:after,
.proj-page-main-controls .proj-page-main-controls-right:after {
  clear: both;
}
.proj-page-main-controls .proj-page-main-controls-left {
  float: left;
}
.proj-page-main-controls .proj-page-main-controls-right {
  float: right;
}
.proj-page-main-controls .btn,
.proj-page-main-controls .select {
  float: left;
  margin: 0 10px 10px 0;
}
.proj-page-main-controls .select {
  overflow: hidden;
  position: relative;
}
.proj-page-txt .proj-page-subtitle {
  padding-bottom: .5rem;
}
.proj-page-add-txt {
  padding: 15px 120px 15px 15px;
  background: #d8e2e7;
  position: relative;
}
.proj-page-add-txt .form-control {
  border-color: #fff;
}
.proj-page-add-txt .proj-page-del,
.proj-page-add-txt .btn {
  position: absolute;
  top: 15px;
}
.proj-page-add-txt .btn {
  width: 64px;
  padding-left: 0;
  padding-right: 0;
  right: 46px;
}
.proj-page-add-txt .proj-page-del {
  right: 13px;
  font-size: 1.125rem;
  margin-top: 2px;
}
.proj-page-attach-section {
  max-height: 290px;
  border-top: solid 1px #d8e2e7;
}
.proj-page-attach-section:first-child {
  border-top: none;
}
.proj-page-attach-section p {
  margin: 0;
}
.proj-page-attach-section .proj-page-attach-section-in {
  padding: 15px 15px 20px;
  overflow: hidden;
}
.proj-page-attach-section .proj-page-attach-grid {
  zoom: 1;
  margin: 0 -30px 0 0;
}
.proj-page-attach-section .proj-page-attach-grid:before,
.proj-page-attach-section .proj-page-attach-grid:after {
  content: " ";
  display: table;
}
.proj-page-attach-section .proj-page-attach-grid:after {
  clear: both;
}
.proj-page-attach-section .proj-page-attach-grid .gd-doc {
  float: left;
  margin: 0 30px 30px 0;
}
.proj-page-attach {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  position: relative;
  padding: 0 30px 0 60px;
  height: 54px;
  margin: 0 0 20px 0;
  font-size: .9375rem;
  line-height: 18px;
}
.proj-page-attach p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 0;
}
.proj-page-attach p a {
  margin: 0 15px 0 0;
}
.proj-page-attach .name {
  font-weight: 600;
}
.proj-page-attach .date {
  color: #919fa9;
}
.proj-page-attach .font-icon {
  font-size: 2.875rem /*46/16*/;
  position: absolute;
  left: 0;
  top: 7px;
  line-height: 1;
  color: #adb7be;
}
.proj-page-time-info .tbl {
  margin: 0 0 10px;
}
.proj-page-time-info .tbl-cell {
  vertical-align: top;
  padding: 0 0 5px;
}
.proj-page-time-info .tbl-cell-time {
  text-align: right;
  white-space: nowrap;
  width: 20px;
  padding-left: 10px;
}
.proj-page-labels .label {
  margin-right: 3px;
  margin-bottom: 8px;
  font-size: 0.9375rem /*15/16*/;
}
.proj-page-assigned .user-card-row {
  font-size: 1rem;
}
.proj-page-people .tbl-people > .tbl-row > .tbl-cell {
  padding: 0 0 10px;
}
.proj-page-people .tbl-people > .tbl-row > .tbl-cell.tbl-cell-lbl {
  white-space: nowrap;
  width: 30px;
  padding-right: 20px;
  color: #919fa9;
}
.proj-page-people .user-card-row {
  font-size: 1rem;
}
.proj-page-dates .tbl-cell {
  padding: 0 0 5px;
}
.proj-page-dates .tbl-cell-lbl {
  white-space: nowrap;
  width: 30px;
  padding-right: 20px;
  color: #919fa9;
}
.proj-page-agile .tbl-cell {
  padding: 0 0 5px;
}
.proj-page-actions-list {
  font-weight: 600;
  margin: -4px 0;
}
.proj-page-actions-list li {
  padding: 4px 0;
}
.proj-page-actions-list a {
  text-decoration: none;
  color: #919fa9;
  border: none;
}
.proj-page-actions-list a:hover {
  color: #00a8ff;
}
.proj-page-actions-list .font-icon {
  margin: 0 7px 0 0;
}
/* ==========================================================================
   Comments
   ========================================================================== */
.comment-rows-container {
  border: solid 1px #d8e2e7;
  border-left: none;
  border-right: none;
  max-height: 570px;
  position: relative;
}
.comment-rows-container:after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 0;
}
.comment-row-item {
  position: relative;
  padding: 12px 15px 12px 61px;
  min-height: 32px;
}
.comment-row-item p {
  margin: 0;
}
.comment-row-item .avatar-preview {
  position: absolute;
  left: 15px;
  top: 12px;
}
.comment-row-item .comment-row-item-header {
  line-height: 18px;
  margin: 0 0 6px;
}
.comment-row-item .comment-row-item-header .tbl-cell {
  vertical-align: top;
}
.comment-row-item .comment-row-item-header .tbl-cell-name {
  font-weight: 600;
}
.comment-row-item .comment-row-item-header .tbl-cell-date {
  text-align: right;
  width: 30px;
  padding-left: 10px;
  white-space: nowrap;
  font-size: .875rem;
  color: #919fa9;
}
.comment-row-item .comment-row-item-content {
  padding: 0 45px 6px 0;
  position: relative;
}
.comment-row-item .comment-row-item-action {
  border: none;
  background: none;
  color: #919fa9;
  position: absolute;
  top: 2px;
}
.comment-row-item .comment-row-item-action:hover {
  color: #00a8ff;
}
.comment-row-item .comment-row-item-action.edit {
  right: 25px;
}
.comment-row-item .comment-row-item-action.del {
  right: 0;
}
.comment-row-item .comment-row-item-action.del:hover {
  color: #fa424a;
}
.comment-row-item .comment-row-item-reply {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  font-size: 1rem;
  text-decoration: none;
  color: #919fa9;
  border: none;
}
.comment-row-item .comment-row-item-reply:hover {
  color: #00a8ff;
}
.comment-row-item .comment-row-item-rating {
  display: inline-block;
  vertical-align: top;
  color: #919fa9;
  font-size: .875rem;
  position: relative;
  top: 2px;
}
.comment-row-item .comment-row-item-rating .number {
  font-weight: 700;
  margin: 0 6px;
}
.comment-row-item .comment-row-item-rating .font-icon,
.comment-row-item .comment-row-item-rating .glyphicon {
  cursor: pointer;
  position: relative;
  top: 2px;
}
.comment-row-item .comment-row-item-rating .font-icon:hover,
.comment-row-item .comment-row-item-rating .glyphicon:hover {
  color: #00a8ff;
}
.comment-row-item .comment-row-item-rating .font-icon.glyphicon-menu-down,
.comment-row-item .comment-row-item-rating .glyphicon.glyphicon-menu-down {
  top: 1px;
}
.comment-row-item.selected {
  background-color: #ecf2f5;
}
.hover-action .comment-row-item .comment-row-item-action {
  display: none;
}
.hover-action .comment-row-item:hover {
  background-color: #ecf2f5;
}
.hover-action .comment-row-item:hover .comment-row-item-action {
  display: block;
}
.comment-row-item.quote {
  border-left: solid 4px #d8e2e7;
  padding-left: 44px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  min-height: 24px;
  margin: 12px -45px 0 0;
}
.comment-row-item.quote .avatar-preview {
  width: 24px;
  height: 24px;
  left: 10px;
  top: 0;
}
.comment-row-item.quote .comment-row-item-header {
  margin-bottom: 2px;
}
.comment-row-item.quote .comment-row-item-content {
  padding-bottom: 0;
}
.leave-comment-block {
  position: relative;
  padding: 15px 15px 15px 61px;
}
.leave-comment-block .avatar-preview {
  position: absolute;
  left: 15px;
  top: 15px;
}
.leave-comment-block .chat-area-bottom {
  padding: 0;
  border: none;
}
.leave-comment-block .viewable-access {
  color: #919fa9;
  margin: 0 0 12px;
}
.leave-comment-block .viewable-access .choose,
.leave-comment-block .viewable-access .lbl {
  display: inline-block;
  vertical-align: top;
}
.leave-comment-block .viewable-access .choose {
  position: relative;
  top: 2px;
}
.leave-comment-block .viewable-access .choose > button {
  border: none;
  background: none;
  color: #919fa9;
  font-size: .875rem;
}
.leave-comment-block .viewable-access .choose > button:after {
  position: relative;
  top: -3px;
  margin-left: 0;
}
.leave-comment-block .viewable-access .choose .dropdown-menu {
  margin-top: 2px;
}
