.site-header .site-header-collapsed .site-header-collapsed-in {margin-right: 0}
.site-header .help-dropdown .help-dropdown-popup {margin-left: -280px}
.site-header .site-header-content .site-header-content-in {margin-left: 230px}